argh==0.26.2
astroid==2.3.1
autopep8==1.4.4
beautifulsoup4==4.8.1
certifi==2022.12.7
Django==2.2.6
django-livereload==1.7
django-livereload-server==0.3.2
grunt==0.1.1
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pathtools==0.1.2
pycodestyle==2.5.0
pylint==2.4.2
pylint-django==2.0.11
pylint-plugin-utils==0.6
pytz==2019.3
PyYAML==5.1.2
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
tornado==6.0.3
typed-ast==1.4.0
websocket-client==0.56.0
wrapt==1.11.2
