{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='main.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    {% include "default/nav.html" %}
    <div style = "margin: 0px auto; margin:30px ; position: relative; min-height: 100%;" >
        <div  style = "padding-bottom:40px">
            <div>
                <h1>分享美食</h1>
                <p>因美食而歡樂</p>

            </div>

            <div style = "display: flex; flex-wrap: wrap; ">
             {% for recipe in recipes %}

            <div class="card" style=" max-width: 23rem ;margin: 20px auto" >

                <img src={{recipe.image_path }}  class="card-img-top" alt="..." style ="padding: 10px ; max-height: 280px; max-width: 100%; ">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
                    <p class="card-text" style ="text-align: right ; margin-bottom: 0px">{{recipe.author}}</p>
                    <p class="card-text" style ="text-align: right ;color: #909090; margin-top: 0px "> {{recipe.create_data}}</p>
                    <div style = "display: flex;">
                        <div style = "margin-left: 160px;margin-right : 20px" >
                            <form  method = "POST" action = "/recipe/delete">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" name= "cId" value = {{recipe.id}}>Delete</button>
                            </form>
                        </div>

                        <div style = "align : center ">
                            <form  method = "POST" action = "/recipe/update">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" name= "cId" value = {{recipe.id}}>update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        </div>

        {% include "default/footer.html" %}
    </div>

</body>
</html>
